@import "tailwindcss";
@import "./styles/theme.css";

html {
	font-family: var(--font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	@apply bg-white text-slate-900 min-h-screen;
	margin: 0;
	font-family: var(--font-sans);
}
.container {
	@apply w-full mx-auto px-4 sm:px-6 lg:px-8;
	max-width: 1280px;
}
